<div class="container">

    <div class="row">
        <div class="element">
            <a>
                <img src="https://assets-global.website-files.com/651bbed2ed95843f98f308e6/6544d7f11417530e2e18debb_banks.svg" alt="example image" class="example-img">
                <h2>Banks & asset managers</h2>
                <p>We seamlessly integrate and aggregate transaction data from multiple sources with flexibility and fast development.</p>
            </a>
        </div>
        <div class="element">
            <a>
                <img src="https://assets-global.website-files.com/651bbed2ed95843f98f308e6/6544d3c9dc7904462fe3b040_family.svg" alt="example image" class="example-img">
                <h2>Family offices & investment companies</h2>
                <p>Get access to our modern and user-friendly user interface to manage your total portfolio including listed and unlisted investments.</p>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="element">
            <a>
            <h1>All assets in one place</h1>
            <p>Providing transparency in multi-asset portfolios for Banks, Asset Managers, Family Offices, Investment Companies and Private Equity Firms</p>
        </a>
        </div>
    </div>

</div>